mixin input_field(obj)
	-
		var	num = obj.num || "";
		var	label = obj.label || "";
		var	type = obj.type || "text";
		var	name = obj.name || "";
		var	id = obj.id || name;
		var	ph = obj.placeholder || label;
		var	value = obj.value || "";
		var	required = obj.required || false;
		var	min_length = obj.minLength || false;

	.form-element
		.form-element__num.color-orange #{num}
		label.form-element__label(for=id) #{label}
		input(
			id=id,
			type=type,
			class="input",
			name=name,
			placeholder=ph,
			value=value,
			required=required,
			minlength=min_length
		)/